body{
    font-family: 'Open Sans',sans-serif;
    background-image: url("../bg1.jpg");
}

#container{
	width: 50vh;
    height: 80vh;
    margin:0 auto;
    vertical-align:bottom;
    margin-top: 10vh;
}

#calculator{
	width: 50vh;
    height: 80vh;
    background-color:#eaedef;
	margin:0 auto;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 90px;
}
#history{
	text-align: right;
	height: 10px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 90px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 45px;
	height: 50px;
	margin: 13px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #89bb15;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #eb2d2d;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #6164ee;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #f53ca8;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #ddf585;
}
