body{
    font-family: 'Open Sans',sans-serif;
    background-image: url("../bg1.jpg");
}

#container{
	width: 50vh;
    height: 80vh;
    margin:0 auto;
    vertical-align:bottom;
    margin-top: 10vh;
}

#calculator{
	width: 50vh;
    height: 80vh;
    background-color:#eaedef;
	margin:0 auto;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
