body{
    font-family: 'Open Sans',sans-serif;
    background-image: url("../bg1.jpg");
}

#container{
	width: 50vh;
    height: 80vh;
    margin:0 auto;
    vertical-align:bottom;
    margin-top: 10vh;
}

#calculator{
	width: 50vh;
    height: 80vh;
    background-color:#eaedef;
	margin:0 auto;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 25vh;
}
#history{
	text-align: right;
	height: 7vh;
	font-size: 3vh;
	color: #919191;
}
#output{
	text-align: right;
	height: 18vh;
	font-size: 3vh;
}
.operator, .number, .empty{
	width: 7vh;
    height: 7vh;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 3vh;
}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
